

body {background-color: black;}

body {
	width: 100%;
	height: 100%;
}


div.generated-style {
}
div.generated-style-2 {text-align: center;
}

div.art-1{text-align: center;
    }


div.art-2{text-align: center;
    }
    
div.pb	{display: block;	page-break-before: always;}


p.title {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0em;
	line-height: 0.0em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	color: #000000;
	margin: 2em 0em 0em 0em;
}
p.h3 {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1.17em;
	line-height: 1.36em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 2.75em 0em;
}
p.x2ded {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: italic;
	font-size: 0.96em;
	line-height: 1.39em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 2.09em 2.09em;
}
p.x2toc {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0.18em 0em 0em 0em;
}
p.x2toc-fm-sp-above {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: underline;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0.54em 0em 0em 0em;
}
p.x2toc-fm-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: underline;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0.54em 0em 1.79em 0em;
}
p.x2toc-cn {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: underline;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 1.07em 0em 0em 1.07em;
}
p.x2toc-bm {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 1.79em 0em 0em 0em;
}
p.x2toc-bm-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: italic;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0.54em 0em 0em 0em;
}
p.x1chap-num-epi-follow {
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
	font-size: 1.08em;
	line-height: 1.31em;
	text-decoration: underline;
	text-transform: uppercase;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 2.77em 0em 2.31em 0em;
}
p.x2epi-co-text-follows {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: italic;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -10% !important;
	text-align: left;
	color: #000000;
	margin: 0 0 20% 20%;
}
p.x1bm-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.x1bm {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.17em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.x2prol-bm-au {
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.62em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: right;
	color: #000000;
	margin: 0.40em 0em 3.40em 4.80em;
}
p.x1chap-num {
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
	font-size: 1.08em;
	line-height: 1.31em;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 2.77em 0em 0.92em 0em;
}
p.x1chap-ttl {
	font-family: "Times New Roman";
	font-weight: bold;
	font-style: normal;
	font-size: 1.50em;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 2.5em 0em;
}
p.x1bm-first-art-below {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em 0em 1.42em 0em;
}
p.art-1 {
	text-align: center;
	color: #000000;
	margin: .0em 0em 0em 0em;
}
p.captions {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;

	text-align: center !important;
	color: #000000;
	margin: 1em 2.40em 1.80em 2.40em;
}
p.no-paragraph-style {
	font-family: "Minion Pro";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.20em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em;
}
p.x1bm-after-txb1 {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 2.83em 0em 0em 0em;
}
p.x1bm-space-below {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.17em;
	text-align: justify;
	color: #000000;
	margin: 0em 0em 1.42em 0em;
}
p.x1bm-art-below {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.17em;
	text-align: justify;
	color: #000000;
	margin: 0em 0em 1.42em 0em;
}
p.x1bm-after-txb1-art-below {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 2.83em 0em 1.42em 0em;
}
p.art-2 {
	text-align: center;
	color: #000000;
	margin: 1.42em 0em 0em 0em;
}
p.x1song-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.97em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.03em;
	text-align: justify;
	color: #000000;
	margin: 1.45em 0em 0em 2.22em;
}
p.x1song-mid {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.97em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.03em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 2.22em;
}
p.x1song-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.97em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.03em;
	text-align: justify;
	color: #000000;
	margin: 0em 0em 1.45em 2.22em;
}
p.x1ext-only {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 1.48em 1.04em 1.48em 2.09em;
}
p.caption-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-align: center;
	color: #000000;
	margin: 1em 2.40em 1em 2.40em;
}
p.caption-2nd {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-align: center;
	color: #000000;
	margin: 0em 2.40em 1.80em 2.40em;
}
p.normal {
	font-family: "Arial (OTF)";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.20em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em;
}
p.x1epi-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	font-variant: normal;
	text-indent: -10% !important;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 20%;
}
p.x1epi-mid {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	font-variant: normal;
	text-indent: -10% !important;
	text-align: left;
	color: #000000;
	margin: 0 0 0 20%;
}
p.x1epi-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	font-variant: normal;
	text-indent: -10% !important;
	text-align: left;
	color: #000000;
	margin: 0 0 2.5% 20%;
}
p.x1cred {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.92em;
	line-height: 1.47em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0.36em 0em 3.09em 4.36em;
}
p.x1po-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 1.44em 0em 0em 2.87em;
}
p.x1po-mid {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 2.87em;
}
p.x1po-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 1.43em 2.87em;
}
p.x1song-only-spab {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.97em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.03em;
	text-align: justify;
	color: #000000;
	margin: 1.45em 0em 1.45em 2.22em;
}
p.x1dial-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.07em;
	text-align: left;
	color: #000000;
	margin: 0em 1.07em 0.36em 2.95em;
}
p.x1dial-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.93em;
	line-height: 1.45em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.07em;
	text-align: left;
	color: #000000;
	margin: 0em 1.07em 0.36em 2.95em;
}
p.ibm-fl {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.x1bm-2lspa {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.17em;
	text-align: justify;
	color: #000000;
	margin: 1.42em 0em 0em 0em;
}
p.x1ext-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 1.48em 1.04em 0em 2.87em;
}
p.x1ext-mid {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 0em 1.04em 0em 2.87em;
}
p.x1ext-last {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.04em;
	text-align: left;
	color: #000000;
	margin: 0em 1.04em 1.30em 2.87em;
}
p.x3acknowledgments-fl {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}


p.x1author-tracker-line {
	font-family: "Times";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.42em;

	text-indent: 0em;
	text-align: center;
	color: #000000;
	margin: 1.42em 0em 0em 0em;
}


p.credits-txb1-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0.87em 0em 0em 0em;
}
p.credits-text-middle {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.22em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.credits-tx {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.96em;
	line-height: 1.43em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: .87em 0em 0em 0em;
}
p.x2cpyinfo {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.x2cpyinfo-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 1em 0em 0em 0em;
}
p.x3perm {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.92em;
	line-height: 1.41em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 1.27em;
	text-align: justify;
	color: #000000;
	margin: 0em;
}
p.x3perm-txb1 {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.92em;
	line-height: 1.41em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 1.41em 0em 0.27em 0em;
}

p.x3rm-aboutpub-h {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.92em;
	line-height: 1.36em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 2em 0em 0em 1.82em;
}
p.x3rm-sh-country {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 1em 0em 0em 2em;
}
p.x3rm-aboutpub-tx {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.83em;
	line-height: 1.40em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: justify;
	color: #000000;
	margin: 0em 0em 0em 2em;
}

p.index-disclaimer {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.89em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	color: #000000;
	margin: 0em 1.31em 3.36em 1.31em;
}
p.x3ind-tx {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.89em;
	line-height: 1.42em;
	text-decoration: none;
	font-variant: normal;
	text-indent: -1.12em;
	text-align: left;
	color: #000000;
	margin: 0em 0em 0em 1.12em;
}
p.x3ind-tx-first {
	font-family: "Times New Roman";
	font-weight: normal;
	font-style: normal;
	font-size: 0.89em;
	margin: 2.89em 0em 0em 0em;
}


span.hyperlink {
	font-weight: bold;
	font-style: normal;
	text-decoration: underline;
}
span.italic {
	font-weight: normal;
	font-style: italic;
}
span.bold {
	font-weight: bold;
	font-style: normal;
}
span.hyperlink-roman {
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}
span.caps {
	font-variant: normal;
}
span.hyperlink-italic {
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
}
span.dropcap {
	font-weight: bold;
	font-style: normal;
	font-size: 3em;
	color: #525052;
}
span.sc {
	font-size: 0.81em;
	font-variant: normal;
}
span.caption-drop-cap {
	font-size: 1.33em;
}
span.sbdropcap {
	font-weight: bold;
	font-style: normal;
	font-size: 1.67em;
	color: #525052;
}
span.sc-bold {
	font-weight: bold;
	font-style: normal;
	font-size: 0.81em;
	font-variant: normal;
}
span.scbold-cred {
	font-weight: bold;
	font-style: normal;
	font-size: 0.79em;
	font-variant: normal;
}
span.scboldital-cred {
	font-weight: bold;
	font-style: italic;
	font-size: 0.79em;
	font-variant: normal;
}
span.hilite-things-that-come {
	font-weight: bold;
	font-style: normal;
	font-size: 0.83em;
	font-variant: normal;
}
span.hilite-i-dont-even-like {
	font-weight: bold;
	font-style: normal;
	font-size: 1.17em;
}
span.symbols {
}
span.hilite-he-s-crazy {
	font-size: 1.17em;
}
span.hilite-i-love-him {
	font-weight: normal;
	font-style: italic;
	font-size: 1.17em;
}
span.hilite-i-hate-him-bigger-bold {
	font-weight: bold;
	font-style: normal;
	font-size: 1.17em;
}
span.superscript {
	font-size: 0.6em;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	vertical-align:text-top;
	color: #000000
	
}
span.bold-italic {
	font-weight: bold;
	font-style: italic;
}
span.caption-sc {
	font-size: 0.71em;
}

span.epubimage {
max-height: 75%;
}

.vidmargin {
	margin-left: 2em;
	margin-right: 2em;
	}
.vidcaption {
	color: white;
	text-align: center;
	}
	.vidcaption1 {
	color: white;
	text-align: left;
	margin-top: 1.5em;
	margin-left: 5em;
	margin-right: 5em;
	}

.vidheadmar {
	color: white;
	margin-top: 1.5em;
	font-size: x-large;
	margin-left: 27%;
	margin-right: 27%;
	text-align: center;
	}
.vidmarginz {
	text-align: center;
	}
.zimagez {
	text-align: center;
	}
	
+6