html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

a {
    background: 0 0;
}

a:active,a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

body {
    font-size: 18px;
    word-wrap: break-word;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin:0 0 0.67em;
    clear:both;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.85rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

p:last-child, div:last-child {
    margin-bottom: 0;
}

blockquote{
    border-left: 4px solid;
    padding: 0 1rem 0 1.4rem;
}

:link {
    color: #09f;
    text-decoration: underline;
}

:link[data-link-type=external]:after {
    content: " ";
    font-size: .83em;
    vertical-align: super;
}

:link * {
    color: #09f;
}

img, svg, svg * {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid;
    padding: 0.15rem;
}

img.cpr-img-large, svg .cpr-img-large {
    display: block;
    margin: 0.5em auto;
}

img.cpr-img-medium, svg .cpr-img-medium {
    float: left;
    margin: 0 0.5rem 0.5rem 0;
}

img.cpr-img-small, svg .cpr-img-small {
    display: inline;
    border:0;
}
